<div id="login">

<div id="index-nav">
    <div class="nav-logo"><img src="/assets/images/icon/Lemon3D.png" alt=""></div>
    <ul class="nav-item-list-left">
    	<li class="nav-item">首页</li>
    	<li class="nav-item">最新作品</li>
    	<li class="nav-item">排行</li>
    	<li class="nav-item">社区</li>
    </ul>
    <ul class="nav-item-list-right">
    	<li class="nav-item">登录</li>
    	<li class="nav-item">注册</li>

    </ul>
    </div>
</div>

<div id="index-page1">
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div id="login-frame">
						<div class="title">登录</div>
						<div class="info">
							<div class="line">
								<div class="left">帐号</div>
								<div class="right"><input type="text" ng-model="account" placeholder="请输入帐号"></div>
							</div>
							<div class="line">
								<div class="left">密码</div>
								<div class="right"><input type="password" ng-model="password" placeholder="请输入密码"></div>
							</div>
							<div class="line">
								<div class="left tips"><input type="checkbox">下次免登录</div>
								<div class="right tips">尚未注册？请点击<span class="bold" ui-sref="register">此处</span>注册</div>
							</div>
							<div class="button"><span id="commit" ng-click="login()">登录</span></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /container -->
</div>


</div>
