
	<div class="user-content package-list">
		<ul>
			<li  class="package-title">
				<span class="tips"></span>
				<span class="title">标题</span>
				<span class="time">时间</span>
			</li>
			<li ng-click="details(leftNavState)">
				<span class="tips"><span class="tip">新回复</span></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
			<li>
				<span class="tips"></span>
				<span class="title">测试文章标题</span>
				<span class="time">2016-07-15</span>
			</li>
		</ul>
	</div>

	<div class="user-bottom">
		<ul class="pagination">
			<li>
		        <span aria-hidden="true">&laquo;</span>
		    </li>
		    <li class="disabled">
		        <span aria-hidden="true">&lsaquo;</span>
		    </li>
		    <li class="active">1</li>
		    <li>2</li>
		    <li>3</li>
		    <li>4</li>
		    <li>5</li>
		    <li>
		        <span aria-hidden="true">&rsaquo;</span>
		    </li>
		    <li>
		        <span aria-hidden="true">&raquo;</span>
		    </li>
		</ul>
	</div>
