
<div class="user-content package-send" style="margin-top: 100px;">

	<div class="package-title">
		<input type="text" placeholder="填写标题">
	</div>
	<div class="package-summary">
		<textarea name="" id="" placeholder="文本摘要150字以内" maxlength="150"></textarea>
	</div>

	<div class="pdf-list border-bottom">
		<div class="list-name">添加签字文件 ｜</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="close"></span>
			</div>
		</div>
	</div>

	<div class="package-message">
		<div class="title">意见</div>
		<textarea name="" id=""  maxlength="150"></textarea>
	</div>

	<div class="pdf-list border-bottom">
		<div class="list-name">添加参考资料 ｜</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="close"></span>
			</div>
		</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="close"></span>
			</div>
		</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="close"></span>
			</div>
		</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="close"></span>
			</div>
		</div>
	</div>

	<div class="pdf-list">
		<div class="list-name">添加签字页 ｜</div>
	</div>

	<div class="signer-list">
		<div class="list-name">添加签署人 ｜</div>
		<div class="signer-list">
			<span class="signer-name">李四</span><span class="close"><img src="/assets/images/icon/close-white.png" alt=""></span>

		</div>
	</div>
	
	<div class="sign-page">
		<div class="btn"><span>删除签字页</span></div>
		<div class="page">
			<img src="/assets/images/test-pdf.jpg" alt="">
		</div>
	</div>

</div>

	<div class="user-bottom">
		<div class="btn">
			<span>发送</span><span>取消</span>
		</div>
	</div> 
