
<div class="user-content package-send">

	<div class="package-title">
		测试标题内容内容
	</div>
	<div class="package-summary">
		这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。
	</div>
	<div class="pdf-list border-bottom">
		<div class="list-name">签字文件 ｜</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="download"></span>
				<span class="visibility"></span>
			</div>
		</div>
	</div>

	<div class="package-message">
		<div class="title">流程信息</div>
		<div class="content">
			<div class="info active">
				<div class="name"><img src="/assets/images/icon/package-end.png" alt="">王文发起了流程</div>
				<div class="time">2016-07-01</div>
			</div>
			<div class="info active">
				<div class="name"><img src="/assets/images/icon/package-doing-active.png" alt="">王文发起了流程</div>
				<div class="time">2016-07-01</div>
			</div>
			<div class="info">
				<div class="name"><img src="/assets/images/icon/package-doing.png" alt="">王文发起了流程</div>
				<div class="time">2016-07-01</div>
			</div>
			<div class="info">
				<div class="name"><img src="/assets/images/icon/package-start.png" alt="">王文发起了流程</div>
				<div class="time">2016-07-01</div>
			</div>
		</div>
	</div>

	<div class="package-message">
		<div class="title">意见</div>
		这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。这里是内容正文啊啊。
	</div>

	<div class="pdf-list border-bottom">
		<div class="list-name">参考资料 ｜</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="download"></span>
				<span class="visibility"></span>
			</div>
		</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="download"></span>
				<span class="visibility"></span>
			</div>
		</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="download"></span>
				<span class="visibility"></span>
			</div>
		</div>

		<div class="pdf-file">
			<span class="logo"><img src="/assets/images/icon/pdf.png" alt=""></span>
			<span class="name"><a title="测试标题测试标题测试标题aaaa">测试标题测试标题测试标题aaaa</a></span>
			<div class="button">
				<span class="download"></span>
				<span class="visibility"></span>
			</div>
		</div>
	</div>

	<div class="pdf-list">
		<div class="list-name">签字页 ｜</div>
	</div>

	<div class="signer-list">
		<div class="list-name">签署人 ｜</div>
		<div class="signer-list">
			<span class="signer-name">李四</span><span class="close"><img src="/assets/images/icon/close-white.png" alt=""></span>

		</div>
	</div>
	
	<div class="sign-page">
		<div class="btn"><span>删除签字页</span></div>
		<div class="page">
			<img src="/assets/images/test-pdf.jpg" alt="">
		</div>
	</div>

</div>

	<div class="user-bottom">
		<div class="btn">
			<span>发送</span><span>取消</span>
		</div>
	</div> 
